.about {
  margin-bottom: 20px;
  padding: 20px 8px 0;
}
.about__subtitle {
  font-weight: 400;
  font-size: 10px;
  line-height: 1;
  color: #58595b;
  margin-bottom: 20px;
}
.about__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 0.9;
  color: #000000;
  margin-bottom: 15px;
}
.about__info {
  font-weight: 400;
  font-size: 14px;
  line-height: 107%;
  color: #58595b;
  margin-bottom: 10px;
}
.about__strong {
  font-weight: 700;
}
.about__btn-2 {
  margin-bottom: 20px;
  padding: 5px 0;
  width: 85px;
  display: block;
  border: none;
  background: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: #009344;
  cursor: pointer;
}
.about__video {
  display: block;
  margin: 0 auto;
}