.feedback {
  padding: 0 10px;
  margin-bottom: 40px;
}
.feedback__title {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 22px;
  line-height: 1;
  text-align: center;
  color: #000000;
}
.feedback__text {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.07;
  text-align: center;
  color: #666666;
}
.feedback__list {
  width: 100%;
  margin: 0 auto;
  list-style-type: none;
}
.feedback__item {
  margin: 0 auto 20px;
  padding: 10px;
  border-radius: 10px;
  width: 345px;
  background: #f0f8f0;
}
.feedback__wrap {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}
.feedback__info {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  color: #000000;
}
.feedback__about {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  color: #009344;
}
.feedback__quote {
  margin: 20px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: #58595b;
}
.feedback__name {
  font-weight: 700;
  font-size: 12px;
  line-height: 1;
  color: #58595b;
}
.feedback__wrap-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.feedback__btn {
  display: block;
  padding: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #009344;
  border: 1px solid #cce9da;
  border-radius: 10px;
  background: none;
  cursor: pointer;
}