.footer {
  background: linear-gradient(rgba(30, 30, 30, 1), rgba(30, 30, 30, 0.85)),
  url("../../img/footer-bkg-img.png") center center no-repeat,
  #1E1E1E;
  background-size: cover;
  padding: 10px;
}
.footer__logo {
  display: block;
}
.footer__text {
  margin-bottom: 20px;
}
.footer__list {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.footer__wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
.footer__svg{
  display: block;
}
.footer__link {
  display: block;
}
.footer__sublist {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.footer__img-icon {
  display: block;
}