.footer {
  background: linear-gradient(rgba(30, 30, 30, 1), rgba(30, 30, 30, 0.85)),
  url("../../img/footer-bkg-img.png") center center no-repeat,
  #1E1E1E;
  background-size: cover;
  padding: 10px;
}
.footer__logo {
  display: block;
  margin-bottom: 20px;
}
.footer__title {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: #999999;
}
.footer__text {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  color: rgba(153, 153, 153, 0.7);
}
.footer__list {
  margin-bottom: 20px;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.footer__wrap {
  padding: 5px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
.footer__address {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #cccccc;
}
.footer__span {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #cccccc;
}
.footer__svg{
  display: block;
}
.footer__link {
  display: block;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #999999;
}
.footer__sublist {
  margin-bottom: 10px;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.footer__img-icon {
  display: block;
}
.footer__subtitle {
  padding-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  color: rgba(153, 153, 153, 0.5);
}
.footer__quote {
  font-weight: 400;
  font-size: 10px;
  line-height: 1;
  text-align: center;
  color: #58595b;
}