.grownup {
  margin-bottom: 20px;
  padding: 10px 8px;
}
.grownup__title {
  width: 340px;
  margin: 20px auto;
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  color: #000000;
  text-align: center;
}
.grownup__img {
  display: block;
  border-radius: 20px;
  margin: 0 auto 20px;
}
.grownup__info {
  width: 340px;
  margin: 0 auto;
}
.grownup__span {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.07;
  color: #58595b;
}
.grownup__info {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.07;
  color: #58595b;
}