.header__subheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  text-decoration: none;
}
.header__icon {
  display: block;
}
.header__address {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 100%;
  color: #000000;
}
.header__info {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 10px;
  line-height: 100%;
  color: #009344;
}
.header__span {
  color: #000000;
}
.header__nav {
  display: flex;
}
.header__link-logo {
  display: block;
}
.header__list {
  display: flex;
  gap: 20px;
}
.header__link-img {
  display: block;
  width: 300px;
}