.speciality {
  padding: 8px;
  margin-bottom: 20px;
}
.speciality__title {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  color: #000000;
}
.speciality__subtitle {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: #000000;
}
.speciality__info {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  color: #58595b;
}
.speciality__item {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #cce9da;
  border-radius: 10px;
  background: url("/src/img/icons/bkg-logo.png") center no-repeat;
  background-size: cover;
  display: flex;
}
.speciality__btn {
  padding: 8px 0;
  width: 85px;
  display: block;
  border: none;
  background: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: #009344;
  cursor: pointer;
}
.speciality__img {
  display: block;
  width: 130px;
  height: 130px;
}
