.useful {
  padding: 0 10px;
  margin-bottom: 40px;
}
.useful__title {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  color: #000000;
  text-align: center;
}
.useful_info {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.07;
  text-align: center;
  color: #58595b;
}
.useful__list {
  list-style-type: none;
}
.useful__sublist {
  display: flex;
  overflow: hidden;
  list-style-type: none;
}